.metrics {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .metrics h3 {
    color: #333;
  }
  
  .metrics div {
    margin-bottom: 15px;
  }
  
  .metrics h4 {
    font-size: 18px;
    color: #555;
  }
  
  .metrics p {
    font-size: 16px;
  }
  
  .metrics .positive {
    color: green;
  }
  
  .metrics .negative {
    color: red;
  }
  