.positive-reaction-reward {
    text-align: center;
    margin-top: 20px;
  }
  
  .badges-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .badge-item {
    text-align: center;
  }
  
  .badge-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ccc; /* Couleur de base pour un badge "verrouillé" */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .badge-icon.unlocked {
    background-color: violet; /* Couleur pour un badge "débloqué" */
  }
  
  .badge-check {
    color: violet;
    font-weight: bold;
  }
  
  /* Cercle de progression */
  .circle-progress-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .circle-progress {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #eee; /* Fond de la jauge */
    overflow: hidden;
  }
  
  .circle-progress-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .circle-progress-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-90deg);
    transform-origin: center;
  }
  