/* DashboardTicketing.css */
.sidebar {
    background-color: #78909c; /* Couleur vert gris */
    width: 200px; /* Largeur de la barre latérale */
    height: 100vh; /* Hauteur de la barre latérale pour occuper toute la hauteur de la fenêtre */
    position: fixed; /* Barre latérale fixée pour rester visible lors du défilement */
    top: 0; /* Position de la barre latérale en haut */
    left: 0; /* Position de la barre latérale à gauche */
  }
  
  .sidebar nav ul {
    list-style: none; /* Supprimez les puces de la liste */
    padding: 0; /* Supprimez les marges intérieures */
  }
  
  .sidebar nav ul li {
    padding: 10px;
  }
  
  .sidebar nav ul li a {
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Supprimez la décoration du texte des liens */
    display: flex; /* Utilisez flexbox pour aligner les icônes et le texte */
    align-items: center; /* Centrez verticalement les icônes et le texte */
  }
  