
.dashboard {
    font-family: 'Arial', sans-serif;
    background-color: #f4f5f7;
    padding: 20px;
  }
  
  /* Styles pour les en-têtes et les textes */
  .dashboard h1 {
    color: #333;
    font-size: 24px;
  }
  
  /* Styles pour les icônes et les items */
  .dashboard-icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .icon-item {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .icon-item:hover {
    background-color: #eaeaea;
  }
  
  /* Styles pour l'affichage de l'icône utilisateur */
  .user-connected {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  /* Icones matérielles */
  .material-icons-outlined {
    font-size: 24px;
    margin-bottom: 4px;
  }
  
  /* Texte sous les icônes */
  .icon-item p {
    font-size: 16px;
    color: #333;
  }

  .ticket-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Ajustez selon vos besoins */
    align-items: center;
    /* Autres styles si nécessaires */
  }
  
  .stat {
    background-color: #f0f0f0; /* Choisissez une couleur de fond selon vos préférences */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet 3D */
    /* Autres styles si nécessaires */
  }
  
  /* Ajoutez des styles supplémentaires pour les composants spécifiques au tableau de bord de ticketing ici */
  